@page "/credit-card"
@using ConestogaInsidersClub.Data.Models;
@using ConestogaInsidersClub.Data.DataAccess;
@using ConestogaInsidersClub.Pages.ViewModels;

@inject IUserService userService;

<h2>Credit Cards</h2>
<br />

@if (editMode != true)
{
    if (cards.Count != 0)
    {
        <table>
            @foreach (var card in cards)
            {
                <tr>
                    <td><b>Card Number :</b></td>
                    <td><span id="Card_Number">Ending in @card.CardNumber.Substring(12)</span></td>
                </tr>
                <tr>
                    <td><b>Expiration Date:</b></td>
                    <td>
                        <span id="Expiration_Date">
                            @(card.ExpirationMonth < 10 ? $"0{card.ExpirationMonth}" : card.ExpirationMonth)/@card.ExpirationYear
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn-danger rounded btn-delete" @onclick="@(() => DeleteCard(card))">Delete</button>
                    </td>
                    <td>
                        <button class="btn-info rounded btn-delete" @onclick="@(() => EditCard(card.CardId))">Edit</button>
                    </td>
                </tr>
                <tr />
            }
        </table>
    }
    else
    {
        <p>You don't have any credit cards recorded, do you want to add one?</p>
    }
    <button class="btn-primary rounded mt-2" @onclick="@AddNewCard">Add a credit card</button>
    }
else
{
    <EditForm Model="@cardVM" OnValidSubmit="@HandleCreditCardSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h3>Edit Credit Cards</h3>
        <br />
        <table>
            <tr>
                <td><b>Enter Card Number :</b></td>
                <td><InputText id="Card_Number_Edit" @bind-Value="cardVM.CardNumber" /></td>
            </tr>
            <tr>
                <td><b>Expiration Month:</b></td>
                <td><InputNumber id="Card_Month_Edit" @bind-Value="cardVM.ExpirationMonth" /></td>
            </tr>
            <tr>
                <td><b>Expiration Year:</b></td>
                <td><InputNumber id="Card_Year_Edit" @bind-Value="cardVM.ExpirationYear" /></td>
            </tr>
            <tr />
        </table>
        <button class="btn-info rounded mt-2" type="submit">Save</button>
    </EditForm>
}

@code {
    [CascadingParameter(Name = "user")]
    protected ApplicationUser user { get; set; }
    [CascadingParameter(Name = "userViewModel")]
    private UserVM userViewModel { get; set; }

    private ICollection<Card> cards;
    private CreditCardVM cardVM;
    private Card selectedCard = null;
    private bool editMode = false;

    protected override void OnInitialized()
    {
        cards = user.Cards;
    }

    private async void HandleCreditCardSubmit()
    {
        user.Cards.Remove(selectedCard);
        user.Cards.Add(cardVM.ToModel(selectedCard));
        await userService.UpdateUser(user);
        selectedCard = null;

        FlipEditMode();
        StateHasChanged();
    }

    private void AddNewCard()
    {
        selectedCard = new Card();
        cardVM = new CreditCardVM(selectedCard);
        FlipEditMode();
    }

    private async void DeleteCard(Card card)
    {
        await userService.DeleteCard(card);
        cards = user.Cards;
        StateHasChanged();
    }

    private void EditCard(int cardId)
    {
        selectedCard = user.Cards.Where(c => c.CardId == cardId).FirstOrDefault();
        cardVM = new CreditCardVM(selectedCard);
        FlipEditMode();
    }

    private void FlipEditMode()
    {
        editMode = !editMode;
    }
}
