@page "/game/{GameId:int}"
@layout AuthorizedPagesLayout
@using ConestogaInsidersClub.Data.Models;
@using ConestogaInsidersClub.Data.DataAccess;
@using ConestogaInsidersClub.Pages.ViewModels;

@inject IGameService gameService;
@inject ICartService cartService;
@inject IWishedItemService wishedItemService;
@inject NavigationManager NavigationManager;

@if (game == null)
{
    <h3>Loading...</h3>
}
else
{
    <h3>Game Details</h3>
    <br />
    <table>
        <tr>
            <td>Name: </td>
            <td class="align-content-end"><span id="Game_Name">@game.Name</span></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td><span id="Game_Name">@game.Description</span></td>
        </tr>
        <tr>
            <td>Price: </td>
            <td><span id="Game_Name">@game.Price.ToString("C")</span></td>
        </tr>
        <tr>
            <td>Genre: </td>
            <td><span id="Game_Name">@game.GenreName</span></td>
        </tr>
    </table>
    <br />
    @if (!IsGameInCart(game.GameId) && !gameService.IsOwnedBy(game, user.Id))
    {
        <button class="btn btn-primary mr-1" @onclick="@(() => AddToCart(game.GameId))">Add To Cart</button>
        <button class="btn btn-secondary" @onclick="@(() => UpdateWishlist(game.GameId))">
            @(isGameInWishlist ? "Remove from Wishlist" : "Add to Wishlist")
        </button>
    }
    else if (gameService.IsOwnedBy(game, user.Id))
    {
        <a class="btn btn-success rounded mr-1" href="@downloadLink" target="_blank">
            <span class="oi oi-data-transfer-download mr-1" aria-hidden="true" /> Download
        </a>
        <button class="btn btn-primary">Leave Review</button>
    }
}

@code {
    [Parameter]
    public int GameId { get; set; }
    [CascadingParameter(Name = "user")]
    protected ApplicationUser user { get; set; }
    private Game game;
    private string downloadLink;
    private bool isGameInWishlist;

    protected override async Task OnInitializedAsync()
    {
        game = await gameService.GetGame(GameId);
        downloadLink = $"/download?gameId={GameId}";
        await CheckIfGameInWishlist();
    }

    private bool IsGameInCart(int gameId)
    {
        return game.CartItems.Any(ci => ci.UserId == user.Id);
    }

    private async void AddToCart(int gameId)
    {
        CartItem cartItem = new CartItem { UserId = user.Id, GameId = gameId };
        await cartService.AddCartItem(cartItem);

        game = await gameService.GetGame(GameId);
        StateHasChanged();
    }

    private async void UpdateWishlist(int gameId)
    {
        await wishedItemService.AddOrRemoveFromWishlist(game, user.Id);
        await CheckIfGameInWishlist();
        StateHasChanged();
    }

    private async Task CheckIfGameInWishlist()
    {
        var userWishedItems = await wishedItemService.GetWishedGamesForUser(user.Id);
        isGameInWishlist = userWishedItems.Contains(game);
    }
}
