@page "/profile"
@using ConestogaInsidersClub.Data.Models;
@using ConestogaInsidersClub.Data.DataAccess;
@using ConestogaInsidersClub.Pages.ViewModels;

@inject IUserService userService;

<h1>Profile</h1>
<br />

@if (user == null)
{
    <h3>Loading...</h3>
}
else if (editMode != true)
{
    <table>
        <tr>
            <td><b>Username:</b></td>
            <td><span id="UserName">@user.UserName</span></td>
        </tr>
        <tr>
            <td><b>Full Name:</b></td>
            <td><span id="Full_Name">@user.FirstName @user.LastName</span></td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td><span id="Email">@user.Email</span></td>
        </tr>
        <tr>
            <td><b>BirthDay:</b></td>
            <td><span id="BirthDay">@user.BirthDay.ToLongDateString()</span></td>
        </tr>
        <tr>
            <td><b>Phone Number:</b></td>
            <td><span id="Phone_Number">@(user.PhoneNumber ?? "Not set yet")</span></td>
        </tr>
    </table>
    <br />
    <h4>Address</h4>
    <table>
        <tr>
            <td><b>Address:</b></td>
            <td><span id="Address1">@(user.Address.Address1 ?? "Not set yet")</span></td>
        </tr>
        <tr>
            <td><b>City:</b></td>
            <td><span id="City">@(user.Address.City ?? "*Not set yet*")</span></td>
        </tr>
        <tr>
            <td><b>Province:</b></td>
            <td><span id="Province">@(user.Address.Province ?? "*Not set yet*")</span></td>
        </tr>
        <tr>
            <td><b>Country:</b></td>
            <td><span id="Country">@(user.Address.Country ?? "*Not set yet*")</span></td>
        </tr>
        <tr>
            <td><b>Postal Code:</b></td>
            <td><span id="Postal_Code">@(user.Address.PostalCode ?? "*Not set yet*")</span></td>
        </tr>
    </table>
    <br />
    <button @onclick="@FlipEditMode">Edit</button>
}
else
{
<EditForm Model="@userViewModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <h3>Edit Information</h3>
    <br />
    <table>
        <tr>
            <td>UserName:</td>
            <td><InputText id="UserName_Edit" @bind-Value="userViewModel.UserName" /></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><InputText id="First_Name_Edit" @bind-Value="userViewModel.FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><InputText id="Last_Name_Edit" @bind-Value="userViewModel.LastName" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><InputText id="Email_Edit" @bind-Value="userViewModel.Email" /></td>
        </tr>
        <tr>
            <td>BirthDay:</td>
            <td><InputDate id="BirthDay_Edit" @bind-Value="userViewModel.BirthDay" /></td>
        </tr>
        <tr>
            <td>PhoneNumber:</td>
            <td><InputText id="Phone_Number_Edit" @bind-Value="userViewModel.PhoneNumber" /></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><InputText id="Address1_Edit" @bind-Value="userViewModel.Address.Address1" /></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><InputText id="City_Edit" @bind-Value="userViewModel.Address.City" /></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td><InputText id="Province_Edit" @bind-Value="userViewModel.Address.Province" /></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><InputText id="Country_Edit" @bind-Value="userViewModel.Address.Country" /></td>
        </tr>
        <tr>
            <td>Postal Code:</td>
            <td><InputText id="Postal_Code_Edit" @bind-Value="userViewModel.Address.PostalCode" /></td>
        </tr>
    </table>
    <br />
    <button type="submit">Save</button>
</EditForm>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }
    private AuthenticationState authenticationState;
    private ApplicationUser user;
    private UserVM userViewModel = new UserVM();
    private bool editMode = false;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationState;
        user = await userService.GetUser(authenticationState.User.Identity.Name);

        userViewModel = UserVM.ToViewModel(user);
    }

    private async void HandleValidSubmit()
    {
        ApplicationUser updatedUser = UserVM.ToModel(user, userViewModel);
        await userService.UpdateUser(updatedUser);
        FlipEditMode();
    }

    private void FlipEditMode()
    {
        editMode = !editMode;
    }
}