@using ConestogaInsidersClub.Data.Models;

<div class="border border-secondary rounded mr-3 my-4 p-3 bg-light d-flex-column">
    <div class="py-2 pl-2"><b>@review.User.FirstName @review.User.LastName</b></div>
    <span class="rating">
        @for (int i = 5; i > 0; i--)
        {
            <input type="radio" name="@($"rating-{review.GameId}-{review.UserId}")" id=@($"rating{i}") checked="@(review.Rating == i)" disabled @key="@i">
            <label for=@($"rating{i}") @key="@($"label-{i}")">@i</label>
        }
    </span>
    @if (review.Description != "")
    {
        <div class="mt-4 mb-2 pt-4">
            <h6 class="pl-2">Comments:</h6>
            <textarea class="form-control" id="comments" disabled>@review.Description</textarea>
        </div>
    }
    else
    {
        <br />
        <br />
    }
</div>

@code {
    [Parameter]
    public Review review { get; set; }

    protected override Task OnInitializedAsync()
    {
        var r = review;
        return Task.Delay(1);
    }
}
