@using ConestogaInsidersClub.Data.Models;

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <p class="card-text float-right">Price: @Game.Price.ToString("C")</p>
            <h5 class="card-title">@Game.Name</h5>
            <p class="card-text">@Game.Description</p>
            <button class="btn @ButtonClass" @onclick="OnClick">@ButtonText</button>
            @if (SecondButtonText != null)
            {
                <button class="btn rounded btn-danger ml-2" onclick="@OnSecondButtonClick">@SecondButtonText</button>
            }
        </div>
    </div>
</div>

@code {
#nullable enable

    [Parameter]
    public string ButtonText { get; set; } = "";

    [Parameter]
    public string ButtonClass { get; set; } = "";

    [Parameter]
    public Game Game { get; set; } = new Game();

    [Parameter]
    public Action OnClick { get; set; } = () => { };

    [Parameter]
    public string? SecondButtonText { get; set; }

    [Parameter]
    public Action? OnSecondButtonClick { get; set; }
}
