@using ConestogaInsidersClub.Data.Models;

<div class="border border-secondary rounded mr-3 mb-3 p-3 bg-light d-flex-column">
    <span><b>@User.UserName</b></span>
    <br />
    <span>@User.FirstName @User.LastName</span>
    <br />
    <button class="btn rounded btn-primary mt-1" onclick="@OnClick">@ButtonText</button>
    @if (SecondButtonText != null)
    {
        <button class="btn rounded btn-danger mt-1 ml-2" onclick="@OnSecondButtonClick">@SecondButtonText</button>
    }
</div>

@code {
    #nullable enable

    [Parameter]
    public ApplicationUser User { get; set; } = new ApplicationUser();

    [Parameter]
    public string ButtonText { get; set; } = "";

    [Parameter]
    public Action OnClick { get; set; } = () => { };

    [Parameter]
    public string? SecondButtonText { get; set; }

    [Parameter]
    public Action? OnSecondButtonClick { get; set; }
}
